[Unit]
After=network.target

[Service]
ExecStart=/usr/bin/sponsorblockcast
DynamicUser=yes
Environment=HOME=/tmp/sponsorblockcast

[Install]
WantedBy=multi-user.target
